html {
  box-sizing: border-box;
  margin: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
blockquote {
  margin: 0;
  padding: 0;
}

.page {
  display: grid;
  grid-template-columns: 108px 1fr 40px;
  grid-template-rows: 155px 1fr 53px 54px;
  gap: 20px;
  margin: 0 auto;
  max-height: 512px;
  max-width: 512px;
  background-color: black;
}

.page__block_white {
  background-color: white;
}

.page__block_gray {
  background-color: #d9d9d9;
}

.page__block_red {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-color: red;
  height: 0;
  padding-bottom: 95%; /* Высота будет 95% от ширины */
}

.page__block_blue {
  grid-row: 3 / 5;
  background-color: blue;
}

.page__block-duble {
  display: flex;
}

.page__block-duble .page__block_gray {
  width: 53px;
}

.page__block-duble .page__block_white {
  flex-grow: 1;
}

.bottom {
  grid-row: 3 / 5;
}
